body{
    margin: 0;
    /* background-image: url(https://cdn.esawebb.org/archives/images/screen/potm2209a.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(255, 180, 127);

}
.container{
    position: relative;
    height: 585px;
    width: 450px;
    background-color: rgb(93, 110, 110);
    margin-top: 14vh;
    margin-left: 35vw;
    border: 5px solid rgb(86, 31, 31);
    
    
}
#screen{
    height: 110px;
    width: 440px;
    position: relative;
    background-color: rgb(170, 127, 127);
    font-size: 40px;
    
}

.btn{
    height: 117px;
    width: 112px;
    font-size: 20px;
    border: 2px solid black;
}
