form{
    text-align: center;
    border: 5px solid green;
    border-collapse: separate;
    border-spacing: 10px 20px;
    
}
/* body{
    text-align: center;
    /* background-color: rgb(192, 99, 99); */
    /* font-size: 25px;
    font: bold;
} */
/* .box{
    margin-top: auto;
    margin: auto;
    padding-top:100%;
    background-color: rgb(253, 249, 249);
} */
